html {
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 14px;
}
.container-fluid {
    max-width: 740px;
    max-height: 920px;
    border-radius: 8px;
    padding-top: 30px;
}
.custom-hr {
    width: 60%;
    margin: 15px auto;
    border: 2px solid black;
}
p {
    width: 100%;
    margin: 10px auto;
    padding: 0 15px 10px 15px; 
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
}
.input_btn {
    background-color: black;
    color: white;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    border-radius: 8px;
    margin-top: 12px;
}
.input_name,.pass_confirm, .input_phone, .input_age,.input_pass, .input_email, .input_address{
    margin: 10px auto;
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 6px;
    font-size: 20px;
    width: 90%;
}
form {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 26px;
    width: 100%;
    max-width: 540px;
    padding: 20px;
    box-sizing: border-box;
}
.container-fluid h1 , h2, h3 {
    text-align: center;
    text-justify: center;
}
label {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    font-weight: 600;
}
.form-control {
    text-align: left;
}
.form-group {
    margin: 10px auto;
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 6px;
    font-size: 20px;
    width: 90%;
}

input {
    background-color: whitesmoke;
    margin: 0 auto;
}
