html {
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 16px;
}
.container-fluid {
    max-width: 540px;
    max-height: 720px;
    border-radius: 8px;
    padding-top: 30px;
}
.custom-hr {
    width: 60%;
    margin: 15px auto;
    border: 2px solid black;
}
p {
    width: 75%;        
    margin: 10px auto; 
    font-size: 12px;
    text-align: center;
}
.input_btn {
    background-color: black;
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.input_email, .input_pass{
    padding-bottom: 5px;
    padding-top: 2px;
    border-radius: 8px;
    border: 2px solid black;
    margin-top: 8px;
    margin-bottom: 12px;
}
form {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 26px;
    width: 150px;
}
.container-fluid h1 , h2, h3, header, div{
    text-align: center;
    text-justify: top;
}