header {
    text-align: center;
    color: #001E44;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
}
.nav-img {
    width: 60px;
    height: 60px;
}
.nav-link {
    font-weight: 1000;
    color: black;
}
html {
    background-color: rgb(240, 240, 255);
}
    
.missionStatement {
    font-size: 16pt;
}

.navPadding {
    padding: 10px 20px;
}
select {
    background-color: white;
    font-weight: 1000;
    color: black;
    text-align: center;
}