header {
    text-align: center;
    color: #001E44;
}
.navbar {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: #001E44;
    word-spacing: 2;
}
* {
    background-color: rgb(220, 220, 255);
}