header {
    text-align: center;
    color: #001E44;
}
.navbar {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: #001E44;
    word-spacing: 2;
}
html {
    background-color: rgb(240, 240, 255);
}
    
.missionStatement {
    font-size: 16pt;
}
